@page "/"
@page "/index" 

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4 text-info">Student Management</h1>
    <p class="lead">Managing the impossible.</p>
    <p class="text-black-50" style="margin-top:100px">Powered by <img src="https://devblogs.microsoft.com/aspnet/wp-content/uploads/sites/16/2019/04/BrandBlazor_nohalo_1000x.png" width="20" height="20" class="d-inline-block align-top" alt=""> Blazor.</p>
</div>
